<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <title>Lecture Kitchen{% if posts %} - {{ lec.code }}{% endif %}</title>
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/fix.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<!--MODALS-->
<!-- Modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form role="form" action="/register/regs" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Kullanıcı adı</label>
                        <input type="text" name="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>

                        <div class="input-group">
                            <input type="text" name="email" class="form-control">
                            <span class="input-group-addon">@bilgiedu.net</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                               placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Kullanım sözleşmesi
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Üye old</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <form role="form" action="/register/login" method="post">
                    <input type="hidden" name="path" value="{{ request.path }}">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Kullanıcı adı</label>
                        <input type="text" name="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                               placeholder="Password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Beni Hatırla
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Giriş</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- MODALDS END -->


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                Lecture Kitchen <br/>
                İstanbul Bilgi University
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left" role="form" action="/search" method="post">
                <div class="form-group" style="overflow: hidden;">
                    <label for="search" class="sr-only">Ders Adı</label>
                    <input type="text" class="form-control" id="search" name="lecture" placeholder="Ders Adı"
                           autocomplete="off">
                    <!--
                    <div class="lec-list-container" style="position: absolute; background: #fafafa;padding: 10px;">
                        <ul class="list-unstyled">

                        </ul>
                    </div>
                    -->
                </div>
                <button type="submit" class="btn btn-info">Getir</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Profil</a></li>
                            <li><a href="#">Takip ettiğim dersler</a></li>
                            <li><a href="#">Ayarlar</a></li>
                            <li class="divider"></li>
                            <li><a href="/register/logout">Çıkış</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a class="btn btn-link login-button" data-toggle="modal" data-target="#login">Giriş Yap</a></li>
                    <li><a class="btn btn-link register-button" data-toggle="modal" data-target="#register">Üye Ol</a>
                    </li>
                {% endif %}

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
<div class="clearfix"></div>
</nav>

<div class="col-xs-2 left-pane">

    <br/><br/>
    <h4>Son eklenen yazılar:</h4>

    <div class="row">

        <div class="list-group ders-list">
            {% for l in recent %}
                <a class="list-group-item" href="/lecture/{{ l.slug }}">
                    <h4 class=" list-group-item-heading">{{ l.code }} - {{ l.name }}</h4>
                    {% if l.last_updated %}
                        <p class="list-group-item-text pull-right text-muted ft-9">{{ l.last_updated.strftime('%d.%m.%Y %H:%M') }}</p>{% endif %}
                    <div class="clearfix"></div>
                </a>
            {% endfor %}
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% block content %} {% endblock %}


<link rel="stylesheet" href="/static/css/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<!-- Bootstrap JS -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/filter.js"></script>
<script src="/static/js/default.js"></script>
<!-- Respond JS for IE8 -->
<script src="/static/js/respond.min.js"></script>
<!-- HTML5 Support for IE -->
<script src="/static/js/html5shiv.js"></script>
<!-- Custom JS -->
<script src="/static/js/custom.js"></script>
<!-- HideShare JS -->
<script src="/static/js/hideshare.js"></script>
</body>


{% block js %} {% endblock %}
</html>