{% extends "base.html" %}
{% block content %}

<div class="col-xs-8 col-xs-offset-2 right-pane">
    <h3 class="post-title">COMP 461</h3>

    <ul class="list-posts list-unstyled">
        <li>
            <div class="li-header">
                1
            </div>
            <div class="li-content">
                8 kasım 2014 fenerbahçe çaykur rize maçı 'nın uzatma dakikalarında atılan ve rte'ye sövenlerin attığı sloganlardır.

az önce ertem şener bu kişilerin passolig uygulaması sayesinde tespit edilip 5 yılla yargılanacağını söyledi.

                <br/>
                taraftar atmıştır. ulan ciddi ciddi bir grup şahıs, oturup ekranın başına, tek tek kim "hırsız tayyip erdoğan" demiş diye ağız okuyarak kişileri tespit edecek. yeminle sike sürülecek akıl yok.
            </div>
            <div class="li-footer">
                <div class="pull-left"><a href="#">paylaş</a></div>
                <div class="pull-right">08.11.2014 23:18  -  cankartal</div>
            </div>
        </li>
    </ul>

    <div class="clearfix"></div>
    <br/><br/><br/>

    <form action="/addPost" method="post">
        <div class="form-group">
            <label for="cevapla-text">Yorum yaz</label>
            <textarea name="post" id="cevapla-text" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-default gonder pull-right">Gönder</button>
        <div class="clearfix"></div>
    </form>

</div>

{% endblock %}